h1{ color: white; font-size: 24px; word-spacing: 5px; position: relative; left:15px}

h3{ text-align: center; font-size: 32px; font-style: unset; color: #585858; }

img, h1{ display: inline-block; }

img { width: 49px;position: relative;left: 5px;top: 10px; }

hr{ color: #AAAAAA;}

/*Bar_nav*/
.navg { float: left;width: 20%;height: 970px;background: #BDBDBD}

.navg a,li { color: black; text-decoration: none; }

.navg a.active { background-color: #4CAF50; color: white; }

button { color: white; padding: 14px 30px; margin: 8px 0; border: none; cursor: pointer; width: 35%; opacity: 0.9; }

.accordion { background-color: #BDBDBD; color: white; cursor: pointer; padding: 18px; width: 100%; border: none; text-align: left; 
  outline: none; font-size: 15px; transition: 0.4s; }

.accordion:hover { background-color: transparent; }

.panel { width: 86%; padding: 0 18px; display: none; background-color: #FFFFFF; overflow: hidden; }

.panel a{ padding: 10px 65px 10px 0; position: relative; left:-5px; line-height: 50px; }

.panel a:hover{ background-color: #F5F5F5; }

/*Top-nav*/
.topnav{ display: block; width: 100%; height: 75px; overflow: hidden; background-color: #343A40; }

.dec{ float: right; position: relative; right: 10px; top: 7px; color: white; text-decoration: none}

.tab {width: 45%; position: relative; left:200px; top: -45px; background-color: white}

.tab td, th { border-collapse: collapse;border: 1px black; }

.lien { text-decoration: underline; color: blue; cursor: pointer; }

/*liste*/
ul.liste{ padding: 10px 16px; list-style: none; background-color: white; }

ul.liste li{ display: inline; font-size: 18px; }

ul.liste li+li:before{ padding: 8px; color: black; content: "/\00a0";}

ul.liste li a{ color: #0275d8; text-decoration:none; }

ul.liste li a:hover{ color: #01447e; text-decoration:underline; }